### User Story 1:
As a data engineer, I need an integrated development environment so I can write and organize my Python code.
    
### User Story 2:
As a data engineer, I need basic programming skills so I will be able to write programs in Python.

#### Action Items:

- Correctly configure Jupyter IDE with a unique environment and kernel
- Develop understanding of Python essentials by completing challenge questions below
- Push finished notebook file to GitHub

__Challenge Questions__

1) Create two string variables in the cell below, set one as your name, and the other as "Hello World"

In [5]:
# answer

2. Using the variables you just created, print the statement "Hello World, my name is (your name)"

In [6]:
# answer

3. Print the numbers 1-10 using a __for__ loop

In [7]:
# answer

4. Now try the same thing using a __while__ loop

In [23]:
# answer

5. Given two integers, complete the program so that it will return their product only if the product is equal to or lower than 1000, else return their sum.

In [3]:
num1 = 20
num2 = 30 

def multiply_or_sum(num1, num2):
    
    # add logic here
    
    return num1 + num2

6. Write a program that iterates 1-10, and for each iteration, prints the sum of the __current__ and __previous__ number

In [4]:
# use the following variable to start your loop (remember, for i in range())

previous_num = 0

7. Write a program that accepts a word from a user and displays a new string consisting ONLY of the characters in __even__ indexes of the original string

In [9]:
word = input('Enter word: ')

Enter word:  Hello

8. Create a function that removes the first __n__ characters from a string

In [10]:
def remove_chars(word, n):
    
    # write function here
    
    pass

9. Given a list of integers, iterate and print only the numbers that are divisible by 5

In [12]:
lst = [10, 20, 33, 46, 55]

# answer in this cell

10. Given 2 lists of integers, __lst1__ and __lst2__ write a program that creates a new list that contains only odd numbers from __lst1__, and even numbers from __lst2__

In [14]:
lst1 = [10, 20, 25, 30, 35]
lst2 = [40, 45, 60, 75, 90]

def merge_lst(lst1, lst2):
    
    # finish program here
    
    pass

11. Create a function within a function that executes the following way:
- Outer function accepts two parameters, __a__ and __b__
- Inner function that calculates __a__ + __b__
- outer function will add 5 to the result of the inner function

In [15]:
 # answer here

12. Convert two lists into a dictionary

In [16]:
keys = ['ten', 'twenty', 'thrity']
values = [10, 20, 30]
# expected output: {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

13. Merge two dictionaries into one

In [17]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
# expected output: {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

14. Given the complex dictionary, print out the value of the "history" key

In [18]:
sampleDict = {
    "class": {
        "student": {
            "name": "Joe",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [19]:
# answer here

15. Delete the designated keys in __keys__ from the dictionary __sample_dict__

In [22]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 80000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]

In [21]:
# answer here

16. Using List Comprehension, remove all odd numbers from the given list

In [24]:
numbers = [3,5,45,97,32,22,10,19,39,43]

In [25]:
# answer here

17. Join lst1 and lst2 so only unique string or integer values remain in a new list, lst3.(i.e., ['1', '2', 3, '3', 4, 5, 6])

In [26]:
lst1 = ['1', '2', [3]]
lst2 = [('3', 4), '5', 6]

In [27]:
# answer here

18. Create an empty dictionary called odds_evens. Next, iterate through lst3. If a number (regardless of datatype) is even, add the value to a list that will be stored as a value for the key even in the dictionary, odds_evens. Do the same for the odds numbers. When you print the odds_evens dictionary the output should look like this: {'evens': ['2', 4, 6], 'odds': ['1', '3', 3, '5']}

In [28]:
# answer here

19. Next, loop through lst3 and evaluate each item using a list comprehension. if it's not an integer, convert it to an integer. The resulting list should be called, __numbers__.

In [29]:
# answer

20. Then, iterate through the values in the odds_evens dictionary. For each number, if it's a string, convert it to an int, otherwise ignore.

In [30]:
# answer

21. Now, using dictionary comprehension, take each value for each key in odds_evens and for each item in those lists (i.e., the values) add it to the max number in the numbers list and append the numbers list with that value.

In [31]:
# answer